<form method="post" action="{{ path('app_sponsor_delete', {'id': sponser.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sponser.id) }}">
    <br></br><button class="btn btn-w-m btn-danger">Delete</button>
</form>
